@model QuestionsAndVotesSystem.Api.Model.ViewModels.CommunityVM
@{
    ViewBag.Title = "All Communites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section style="margin-top:67px">

    @Html.Hidden("userId", Model.userId)
    <div class="content-header jumbotron">
        <h3>All Communites</h3>
    </div><!--company-title end-->

    <div class="content">
        <div class="row">
            @foreach (var item in Model.communities)
            {

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="info-box text-center">
                        <div class="box-body" style="max-height:136px">

                            <h3>@item.Name.</h3>
                            <span>@item.Description</span>
                        </div>
                        <div class="box-body">
                            @if (item.isFollowed)
                            {
                                <button type="button" class="btn margin unfollow" data-id="@item.Id">Unfollow</button>
                            }
                            else
                            {
                                <button type="button" class="btn bg-olive margin follow" data-id="@item.Id">Follow</button>
                            }      

                            
                        </div>

                        <div class="box-footer">
                            <a href="#" title="" class="view-more-pro">View questions</a>
                        </div>
                    </div><!--company_profile_info end-->
                </div>
            }
        </div>
    </div>

</section>



@section Scripts {
    <script>

        $(document).ready(function () {
            //follow community
            $(document).on('click', ".follow", function () {

                debugger;
                var clickedBtn = $(this);
                let url = '@Url.Action("Follow", "Communites")';

                var comunityInfo = {};
                comunityInfo.Id = $('.follow').attr("data-id");
                comunityInfo.userId = $('#userId').val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(comunityInfo),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            clickedBtn.html("Unfollow");
                            clickedBtn.removeClass('bg-olive').removeClass('follow').addClass('unfollow');
                        } else {
                             AlertMsg('error', 'somthing wrong happen');
                        }
                    },
                    error: function (response) {
                        // if the user not loged in  or not registerd redirected to login page
                        // response data come from filter attribute [AjaxAuthorize] above the tarrget action 
                        if (response.status == 403 || response.status == 401) {
                            var result = $.parseJSON(response.responseText);
                            window.location = result.LogOnUrl;
                        }
                       
                    }
                });

            });

            //unfollow community
            $(document).on('click', ".unfollow", function () {

                debugger;
                var clickedBtn = $(this);
                let url = '@Url.Action("UnFollow", "Communites")';

                var comunityInfo = {};
                comunityInfo.Id = $('.unfollow').attr("data-id");
                comunityInfo.userId = $('#userId').val();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify(comunityInfo),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            clickedBtn.html("Follow");
                            clickedBtn.addClass('bg-olive').removeClass('follow').addClass('unfollow');
                            clickedBtn.removeClass('unfollow').addClass('follow').addClass('bg-olive');
                        }
                        // AlertMsg('success', 'New Community was followed successfully');
                    },
                    error: function (response) {
                        AlertMsg('error', 'somthing wrong happen');
                    }
                });

            });

        });
    </script>
}
