@model  QuestionsAndVotesSystem.Api.Model.ViewModels.PostVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Profile/Views/Shared/_ProfileLayout.cshtml";
}
@*<style>
        [type="file"] {
            height: 0;
            overflow: hidden;
            width: 0;
        }

            [type="file"] + label {
                background: #f15d22;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-family: 'Poppins', sans-serif;
                font-size: inherit;
                font-weight: 600;
                /*margin-top: 50px;*/
                margin-bottom: 1rem;
                outline: none;
                padding: 1rem 30px;
                position: relative;
                transition: all 0.3s;
                vertical-align: middle;
            }

                [type="file"] + label:hover {
                    background-color: #d04c17;
                }
    </style>*@

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default collapsed-box box-solid">
            <div class="box-header with-border text-center" style="padding:0 19px 0 19px" data-widget="collapse">
                <h3 class="box-title">New Post</h3>
                <span>
                    <button type="button" class="btn btn-box-tool">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="postForm" method="post" enctype="multipart/form-data">

                    @*@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { id = "newPost" , enctype = "multipart/form-data" }))
                        {*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Add to Community</label>
                                @Html.DropDownList("Select Community", Model.communities, new { @class = "form-control select2", multiple = "multiple", style = "width: 100%;" })

                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Answer type</label>
                                @Html.DropDownList("Select Answer type", Model.answerTypes, new { @class = "form-control select2", style = "width: 100%;" })

                            </div>
                            <!-- /.form-group -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker" data-date-start-date="0d">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="chkRequired" class="flat-red">
                                    Required
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" id="chkEditorChoice" class="flat-red">
                                    Editor Choice
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Question text</label>
                                <textarea id="Quesetion" name="QuesetionTitle" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="file" id="QPhotoFile" name="QPhotoFile" accept="image/*"  onchange="loadFile(event)" />
                            @*<input type="file" name="file" id="Qfile" />
                                <label for="file"><i class="fa fa-fw fa-file-image-o"></i></label>*@
                            <div class="imgPreview">
                                
                            </div>
                        </div>
                    </div>
                    @*answer types*@
                    <div id="answers">
                        <div class="row firstItem">
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input class="answer" type="checkbox" disabled="disabled">
                                    </span>
                                    <input type="text" class="form-control js" placeholder="Option" data-id="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="file" class="answerImg" data-id="" accept="image/*"  onchange="loadFile(event)"/>

                                <div class="imgPreview">
                                    @*<img src="@Url.Content("")" width="150" height="150" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input class="answer" type="checkbox" disabled="disabled">
                                    </span>
                                    <input type="text" class="form-control js" placeholder="Option" data-id="">
                                    <span class="input-group-addon">
                                        <button id="removeItem" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input type="file" class="answerImg" data-id="" accept="image/*"  onchange="loadFile(event)" />

                                <div class="imgPreview">
                                    @*<img src="@Url.Content("")" width="150" height="150" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-sm" id="addOption" type="button">Add option</button>
                    <div class="box-footer">
                        <button id="saveForm" class="btn btn-primary btn-lg" type="submit" data-QID="" data-postID=""> Add</button>

                    </div>

                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
@*answer item for clone*@
<div class="row answerItem" style="display:none">
    <div class="col-md-9">
        <div class="input-group">
            <span class="input-group-addon">
                <input class="answer" type="checkbox" disabled="disabled">
            </span>
            <input type="text" class="form-control js" placeholder="Option" data-id="">
            <span class="input-group-addon">
                <button id="removeItem" type="button" class="btn btn-box-tool pull-right"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <input type="file" class="answerImg" data-id="" accept="image/*" onchange="loadFile(event)" />

        <div class="imgPreview">
            @*<img src="@Url.Content("")" width="150" height="150" />*@
        </div>
    </div>
</div>


<div id="postat">

    @Html.Partial("~/Areas/Profile/Views/Post/_Feed.cshtml", Model)
  
</div>




@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.AlertMsg != null)
    {
        <script type="text/javascript">
            @Html.Raw(ViewBag.AlertMsg)
        </script>
    }

    <script>
        var loadFile = function (event) {
            debugger;
           
            var img = document.createElement("img");
            var remove = document.createElement("span");
            //var imgPreview = $('#imgPreview');
            var imgPreview = $(event.path[0]).next();
            imgPreview.empty();
            var reader = new FileReader();
            reader.onload = function () {
               
               
                img.src = reader.result;
                img.width = '100';
                img.height = '100';
                img.style.margin = '7px';
                remove.innerHTML='<i class="glyphicon glyphicon-trash"></i>';
                imgPreview.append(img);
                imgPreview.append(remove);
               // $('#removeImg').html('<i class="glyphicon glyphicon-trash"></i>')
                
            };
            reader.readAsDataURL(event.target.files[0]);
        };

        $(document).on('click', '.imgPreview span', function () {
            //$('#imgPreview span').click(function () {
            $(this).parent().prev('input[type=file]').val('');
            $(this).parent().empty();
            
        });

        function PostValidation() {
            var ComunitieIds = $('#Select_Community option:selected').map(function () {
                return ($(this).val());
            }).get().join(";");
            if (ComunitieIds == null) {
                AlertMsg('error', 'please select community ');
                return false;
            }

            var AnswerType = $('#Select_Answer_type option:selected').val();
            if (AnswerType == null || AnswerType =='') {
                AlertMsg('error', 'please select answer type ');
                return false;
            }

            var QuesetionTitle = $('#Quesetion').val();
            if (QuesetionTitle == '') {
                AlertMsg('error', 'please add question');
                return false;
            }

            var endDate = $('#datepicker').val();
            if (endDate == '') {
                AlertMsg('error', 'please add end date');
                return false;
            }

            var answerValues = $('#answers .js').map(function () {
                return $(this).val();
            }).get().join(";");
            if (answerValues == null || answerValues == '') {
                AlertMsg('error', 'please add at least one answer');
                return false;
            }
            return true;
        }

        $(document).ready(function () {

            //Initialize Select2 drop downlists Elements
            $('.select2').select2();


            $("#Select_Answer_type").change(function () {
                var newType = $("#Select_Answer_type Option:Selected").val();
                $(".answer").attr("type", newType)
            });

            //add new answer option
            $("#addOption").click(function () {
                //var cloneItm = $(".answerItem").clone(true);
                //$("#answers").append(cloneItm);

                $(".answerItem").clone().appendTo('#answers');
                $('#answers .row').last().removeClass('answerItem').show();
                

            });

            // remove answer option
            $(document).on('click', '#removeItem', function () {
               
                $(this).closest('.row').remove();
            });

            //Date picker
            $('#datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            })

           

            // submit form
            $('#postForm').submit(function (e) {
                e.preventDefault();
                debugger;
                if (PostValidation()) {

                var data = new FormData();

                var questionId= $('#saveForm').attr('data-QID');
                var PostId = $('#saveForm').attr('data-postID');
                data.append("questionId", questionId);
                data.append("PostId", PostId);
                //fill != null and image preview not empty => creat
                //fill = null and image preview not empty => update
                var QPhoto = $("#QPhotoFile").get(0).files;
                //// Add the question image to the form data collection
                if (QPhoto.length > 0) data.append("QPhotoFile", QPhoto[0]);

                // if all is selected escap the othe options and save 0 in the database
                var flag = 0;
                $('#Select_Community option:selected').each(function (element) {
                    debugger;

                    if ($(this).val() == '16') {
                        falg = 0;
                        return false;
                    }
                    flag = 1;

                });
                if (flag == 1) {
                    var ComunitieIds = $('#Select_Community option:selected').map(function () {
                        return ($(this).val());
                    }).get().join(";");

                    data.append("ComunitieIds", ComunitieIds);
                }
                else {
                    data.append("ComunitieIds", '16');
                }

                var AnswerType = $('#Select_Answer_type option:selected').val();
                data.append("AnswerType", AnswerType);

                var QuesetionTitle = $('#Quesetion').val();
                data.append("QuesetionTitle", QuesetionTitle);

                var endDate = $('#datepicker').val();
                data.append("EndDate", endDate);

                var reqired = $('#chkRequired').is(":checked");
                data.append("IsRequired", reqired);

                var editorChoice = $('#chkEditorChoice').is(":checked");
                data.append("IsRankeditorChoice", editorChoice);


                var answerValues = $('#answers .js').map(function () {
                    return $(this).val();
                }).get().join(";");
                data.append("answerValues", answerValues);

                // Add the question answers images to the form data collection
                $('#answers .answerImg').each(function () {
                    if ($(this).get(0).files.length > 0) {
                        debugger;
                        data.append("answerImgs", $(this).get(0).files[0]);
                    }

                });

                $.ajax({
                    type: "post",
                    url: "/Profile/Post/Create",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response == false) {
                            AlertMsg('error', 'some thing wrong happen');
                        }
                        else {
                            AlertMsg('success', 'your post saved successfully');
                        }

                    },
                    error: function () {

                        AlertMsg('error', 'some thing wrong happen');
                    }

                })
                }
            });


            //postEdit
            $(document).on('click', '#postEdit', function () {

            
            //$('#postEdit').click(function () {
                debugger;
                var questionId = $(this).attr("data-id");

                $.ajax({
                    type: "post",
                    url: "/Profile/Post/Editpost",
                    data: { id: questionId },

                    success: function (data) {
                        debugger;
                        if (data != null) {
                            
                            $("#Select_Community").val([]).trigger('change');
                            $("#Select_Community").val(data.communityIDs).trigger('change');

                            $("#Select_Answer_type").val('').trigger('change');
                            $("#Select_Answer_type").val(data.answerType).trigger('change');

                            $('#chkRequired').prop('checked', data.IsRequired);
                            $('#chkEditorChoice').prop('checked', data.IsRankeditorChoice);

                            var date = new Date(parseInt(data.endDate.substr(6)));
                            var endDate = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear()
                            $('#datepicker').val(endDate);

                            $('#Quesetion').val(data.QuesetionTitle);

                            // fill answer options
                            // still working on update photos
                            var optionsElements = $('#answers .js');
                            data.answerValues.map(function (item, i) {
                                optionsElements.each(function (index) {
                                    if (i == index) {
                                        $(this).val(item.AnswerValue);
                                        $(this).attr('data-id', item.Id)
                                    }
                                });
                            });


                            $('#saveForm').attr('data-QID', data.questionId);
                            $('#saveForm').attr('data-postID', data.postId);
                            
                            
                            
                            
                           
                        }
                        

                    },
                    error: function () {

                        AlertMsg('error', 'some thing wrong happen');
                    }

                })


            });

           


        });
    </script>
}


